<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>F1</key>
		<string>/Applications/Emacs.app</string>
		<key>F2</key>
		<string>/Applications/iTerm.app</string>
		<key>F3</key>
		<string>/Applications/Google Chrome.app</string>
		<key>F4</key>
		<string>/Applications/Xcode-beta.app</string>
	</dict>
</plist>
